/*===================================================
personal portfolio HTML website 

Version: 1.0
====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');

/* start global classes */
:root {

  /* body bg color */
  --bodyColor: #F3F3F3;

  /* primary brand color */
  --primary-color: rgb(10, 10, 146);

  /* white color */
  --white: #050505;

  /* grey color */
  --grey: #5C5C5C;

  /* dark grey color */
  --dark-grey: #3c413f;

  /* box color */
  --box-color: #f0f0f0;

  /* border radius */
  --border-radius: 0;

}

h3 {
  color: #0303a4; /* Navy Blue */
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  color: var(--white);
  background-color: var(--bodyColor);
  text-align: left;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

::selection {
  color: var(--white);
  background-color: var(--primary-color);
}


.primary-text {
  color: var(--primary-color) !important;
}

.grey-text {
  color: var(--grey);
}

.text-white {
  color: var(--white);
}

.bg-box {
  background-color: var(--box-color);
}

.heading-1,
.heading-2 {
  color: var(--white);
}

.heading-1 {
  font-size: 62px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
}

.heading-3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.body-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--grey);
}

.body-2 {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  line-height: 28px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

@media (max-width: 990px) {
  .heading-1 {
    font-size: 40px;
  }

  .heading-2 {
    font-size: 20px;
  }

  .heading-3 {
    font-size: 16px;
  }

  .body-1 {
    font-size: 16px;
    line-height: 28px;
  }

  .body-2 {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    line-height: 26px;
  }

  .gap-8 {
    gap: 4px;
  }

  .gap-16 {
    gap: 8px;
  }

  .gap-32 {
    gap: 1px;
  }

  .padding-32 {
    padding: 16px;
  }

  .padding-16 {
    padding: 8px;
  }

  .padding-8 {
    padding: 4px;
  }

  .icon-lg {
    font-size: 36px;
  }

  .icon-md {
    font-size: 22px;
  }

  .icon-sm {
    font-size: 14px;
  }

  .section {
    padding-block: 3rem;
  }

  .bordered-box {
    padding: 8px;
  }

  .shape {
    display: none;
  }
}

@media (max-width: 768px) {
  .heading-2 {
    font-size: 28px;
  }

  /* Исправление для FAQ */
  .faq .container {
    width: 100% !important;
    margin: 0 auto !important;
  }
}


a {
  text-decoration: none;
  text-transform: capitalize;
}

.w-fit {
  width: fit-content;
}

.shape {
  position: absolute;
  overflow: hidden;
  opacity: 0.6;
}

.dark-mode .sape {
  opacity: 0.4;
}

.bordered-box {
  border: .5px solid var(--dark-grey);
  padding: 16px;
  background-color: transparent;
  border-radius: var(--border-radius);
}

.padding-32 {
  padding: 32px;
}

.padding-16 {
  padding: 16px;
}

.padding-8 {
  padding: 8px;
}

.icon-lg {
  font-size: 48px;
}

.icon-md {
  font-size: 32px;
}

.icon-sm {
  font-size: 24px;
}

p {
  color: var(--grey);
}

@media (max-width: 768px) {
  p {
    font-size: 18px !important; /* Принудительно увеличиваем размер */
    color: #222 !important; /* Принудительно делаем текст темнее */
  }
}



.section {
  padding-block: 2rem;
}

@media (max-width: 768px) {
  .section {
    padding-block: 1rem; /* Уменьшает отступы на мобильных */
  }
}



/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  .section {
    padding-block: 0,1rem;  /* Уменьшаем отступы для мобильных устройств */
  }
}


.blury {
  width: 1200px;
}

.organise {
  width: 500px;
}

input,
textarea {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--grey);
}

/* start buttons style */
.btn {
  background-color: var(--primary-color);
  color: var(--bodyColor);
  font-weight: 800;
  border-radius: var(--border-radius);
  padding: 10px 28px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  letter-spacing: .5px;
  outline: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  z-index: 1;
  transition: color 300ms ease-in-out;
}

.btn:hover {
  color: var(--white);
  border: .5px solid var(--dark-grey);
}

.learn-more {
  text-transform: capitalize;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.learn-more i {
  font-size: 22px;
  margin-left: 8px;
}

.learn-more:hover {
  letter-spacing: 1.5px;
  transition: all .5s;
  color: var(--white);
}

.pretitle {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
  letter-spacing: 10px;
  color: var(--grey);
}

/* end main button style */


ul {
  list-style: none;
}

img {
  width: 100%;
}


/* end global classes */


/* ==== start preloader style ===== */

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 9999;
  position: fixed;
  top: 50%;  /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты */
  width: 400px; /* Ширина полоски */
  height: 3px; /* Высота полоски */
  overflow: hidden;
  background: #1d1d1d;
}


.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--primary-color);
}

.pace.pace-inactive {
  display: none;
}

#preloader {
  z-index: 999;
  width: 100%;
  height: 100vh;
  background: #000403;
  overflow: hidden;
  position: fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  transition: opacity 1s ease-out; /* Плавное исчезновение */
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #f1f1f1;
}


/* ==== end  preloader style  ===== */

/* ======== start scroll-to-top button style  =========== */

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 800;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  border-radius: 50%;
  display: grid;
  background-color: var(--bodyColor);
  place-items: center;
  font-size: 35px;
  color: var(--blueColor);
}

/* ======== end scroll-to-top button style  =========== */

/*================== start navbar section ==================*/
.navbar {
  z-index: 900;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: none;
}

@media (max-width: 990px) {
  .navbar {
    background-color: var(--box-color);
  }
}

.navbar .logo {
  width: 9rem;
}

.navbar ul li a {
  font-weight: 600;
  color: var(--grey);
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--primary-color) !important;
}

.navbar i {
  font-size: 24px;
  color: var(--grey);
}

/*================== End navbar section ==================*/

/*================== start hero section ==================*/
.hero {
  margin-top: 8%;
}

.hero .hero-blury {
  top: -200px;
  right: -30px;
}

.hero .hero-organise {
  top: -50px;
  left: -100px;
}

.hero .container>* {
  position: relative;
}

/*================== end hero section =====================*/


/*============== Start About section ==========*/

.about .blury-1 {
  top: -500px;
  right: -700px;
}

.about .blury-2 {
  top: -500px;
  left: -700px;
}

.about .organise {
  top: 0;
  right: -250px;
}

.about .container>* {
  position: relative;
}

.about .progress {
  width: 100%;
  height: 6px;
  background-color: #d6d6d6;
  border-radius: 5px;
}

.about .progress .bar {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.about .progress .bar.bar-1 {
  width: 75%;
}

.about .progress .bar.bar-2 {
  width: 50%;
}

.about .progress .bar.bar-3 {
  width: 80%;
}

.about .progress .bar.bar-4 {
  width: 60%;
}

.about .box {
  height: 380px;
}

.about .box img {
  width: 150px;
}

.about .organise-2 {
  right: -400px;
  top: 0;
}

.about .blury-3 {
  top: 100px;
  left: -800px;
}

/* Иконки  *//* Иконки  *//* Иконки  *//* Иконки  */
.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #054287; /* Тонкая линия */
  border-radius: 0; /* Убрали скругление */
  box-shadow: none; /* Убрали тень */
  background: transparent; /* Убрали фон */
  transition: transform 0.3s ease-in-out;
}

.stat-item:hover {
  transform: scale(1.05);
}

.navy-icon {
  font-size: 40px;
  color: #054287;
  margin-bottom: 10px;
}

.heading-1 {
  font-size: 2rem;
  color: black;
  margin: 10px 0;
}

.primary-text {
  font-weight: bold;
  color: #054287;
}



/*============== Start Experience section ==========*/

.experience {
  position: relative;
}

.experience .blury-1 {
  top: -100px;
  right: -400px;
}

.experience .blury-2 {
  bottom: -100px;
  left: -400px;
}

.experience-grid {
  position: relative;
  display: grid;
  gap: 20px;
}

.experience-item {
  border: 1px solid black; /* Тонкая черная линия */
  padding: 20px;
}

.experience-item ul {
  list-style-type: disc; /* Маркеры (точки) */
  padding-left: 20px; /* Отступ слева */
}

.experience-item ul li {
  font-size: 1rem;
  margin-bottom: 8px; /* Отступ между элементами списка */
  color: #555; /* Цвет текста для списка */
}

@media (min-width: 768px) {
  .experience-grid {
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
  }
}

@media (max-width: 767px) {
  .experience-grid {
    grid-template-columns: 1fr; /* Одна колонка */
  }
}

/*============== End Experience section ==========*/


/*============== Education section ==========*/

#education {
  padding-block: 0rem; /* Уменьши значение, например, вдвое */
}

/*============== End Education section ==========*/



/* ============== Start Skills section ============== */


.skills {
  position: relative;
}

.skills .blury-1 {
  top: -100px;
  right: -400px;
}

.skills .blury-2 {
  bottom: -100px;
  left: -400px;
}

.skills .organise {
  position: absolute;
  top: 0;
  right: -100px;
}

.skills-grid {
  position: relative;
  display: grid;
  gap: 20px;
}

.skills-grid > div {
  border: 1px solid black; /* Тонкая черная линия */
  padding: 20px;
}

.skills-grid h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: navy;
}

.skills-grid ul {
  list-style-type: disc;
  padding-left: 20px;
}

.skills-grid ul li {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #555;
}



@media (min-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
  }
}

@media (max-width: 767px) {
  .skills-grid {
    grid-template-columns: 1fr; /* Одна колонка */
  }
}

/* ============== End Skills section ============== */

/* ============== Start Licenses & Certifications section ============== */

.certifications {
  position: relative;
}

.certifications .blury-1 {
  top: -100px;
  right: -400px;
}

.certifications .blury-2 {
  bottom: -100px;
  left: -400px;
}

.certifications .organise {
  position: absolute;
  top: 0;
  right: -100px;
}

.cert-grid {
  position: relative;
  display: grid;
  gap: 20px;
}

.cert-grid > div {
  border: 1px solid black; /* Тонкая черная линия */
  padding: 20px;
}

.cert-grid h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #054287; /* Темно-синий цвет */
}

.cert-grid ul {
  list-style-type: disc;
  padding-left: 20px;
}

.cert-grid ul li {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #555;
}

@media (min-width: 768px) {
  .cert-grid {
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
  }
}

@media (max-width: 767px) {
  .cert-grid {
    grid-template-columns: 1fr; /* Одна колонка */
  }
}

/* ============== End Licenses & Certifications section ============== */



/*============== start FAQ section ==========*/

.faq .blury-1 {
  top: -250px;
  left: -500px;
}

.faq .container>* {
  position: relative;
}

.faq .btn {
  color: var(--white) !important;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: transparent !important;
  border: none !important;
}

.rotate-icon {
  transition: transform 0.3s ease-in-out;
}

.rotate-icon.rotated {
  transform: rotate(180deg);
}

/*============== End FAQ section ==========*/


/*============== Start contact section ==========*/
.contact .blury-1 {
  top: -300px;
  right: -600px;
}


.contact-map {
  height: 275px;
}

/*============== End contact section ==========*/

/*============== Footer section ==========*/

.footer-link {
  font-size: 16px;
  color: var(--grey);
}

.footer a i {
  font-size: 16px;
  color: var(--grey);
}

.footer i:hover {
  color: var(--primary-color);
}

.copy {
  font-size: 12px;
  color: var(--dark-grey);
}

/*============== End Footer section ==========*/



/*====== Стили для уменьшения размера изображения hero======*/

/* Родительский элемент, который использует Flexbox для центрирования */
.col-lg-4 {
  display: flex;  /* Включаем flexbox */
  justify-content: center;  /* Центрируем по горизонтали */
  align-items: center;  /* Центрируем по вертикали */
}

/* Уменьшаем изображение и отодвигаем его вправо на десктопе */
.col-lg-4 img {
  width: 70%;  /* Уменьшаем изображение до 75% от исходного размера */
  height: auto;  /* Сохраняем пропорции изображения */
}

/* Медиазапрос для десктопа (с шириной экрана 992px и выше) */
@media (min-width: 992px) {
  .col-lg-4 img {
    margin-left: 50px;  /* Отодвигаем изображение вправо на 30px только на десктопе */
    margin-top: -110px;  /* Поднимаем изображение на 50px только на десктопах */
  }
}

/* Мобильная версия: изображение по центру, без отступов */
@media (max-width: 991px) {
  .col-lg-4 img {
    margin-left: 0;  /* Убираем отступы на мобильных */
    margin-top: 0;  /* Убираем отступ сверху на мобильных */
  }
}

/* убрали границы блоков (окантовку) на мобильных */
@media (max-width: 768px) {
  * {
    border: none !important;
  }

  input[type="email"], 
  textarea {
    border: 1px solid black !important;
  }
}

/* Синий цвет кнопки Download CV PDF */

.download-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: navy;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid black; /* Чёрная окантовка 1px */
  margin-left: 0px; /* Смещение влево */
}

.download-btn:hover {
  background-color: #b1bfce;
}

/* Это уберёт боковые отступы у .container, и ширина секций больше не будет сжиматься*/
.container {
  --bs-gutter-x: 0.5rem; /* Или 8px */
}


/* Стили для таблицы Sea Service *//* Стили для таблицы Sea Service *//* Стили для таблицы Sea Service */
/* Стили для таблицы Sea Service *//* Стили для таблицы Sea Service *//* Стили для таблицы Sea Service */

.sea-service {
  margin-left: -10px; /* Сдвигаем весь блок влево */
}

.sea-service-table {
  width: 85%; /* Делаем таблицу шириной 85% */
  margin: 0 auto; /* Центрируем таблицу на странице */
  border-collapse: collapse;
  margin-top: 2rem;
}

.sea-service-table th,
.sea-service-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.sea-service-table th {
  background-color: #f4f4f4;
}

.sea-service-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.sea-service-table tbody tr:hover {
  background-color: #eaeaea;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .sea-service-table th, .sea-service-table td {
    padding: 8px;
  }

  .sea-service-table th {
    font-size: 14px;
  }

  .sea-service-table td {
    font-size: 14px;
  }
}

/* END Стили для таблицы Sea Service */

